.cross {
  color: #fff;
  cursor: pointer;

  display: inline-flex;

  /** from defaultSize */
  width: 16px;
  height: 16px;
  align-items: center; /* Centers vertically (cross axis) */
  justify-content: center; /* Centers horizontally (main axis) */
}

.variation-black {
  color: #000;
}

.variation-white {
  color: #fff;
}

.variation-grey {
  color: #a4a7ae;
}

.variation-violet {
  color: #c3a4d5;
}

.variation-inbadge {
  margin-right: -4px;
  margin-left: -2px;
}

.variation-role {
  color: #fff;
}
