.cross {
  color: #fff;
  cursor: pointer;
}

.variation-black {
  color: #000;
}

.variation-white {
  color: #fff;
}

.variation-grey {
  color: #a4a7ae;
}

.variation-violet {
  color: #c3a4d5;
}

.variation-inbadge {
  margin-right: -4px;
  margin-left: -2px;
}

.variation-role {
  color: #fff;
}
