.identification,
.popupIdentification {
  height: 36px;

  font-family: sans-serif;
  color: #000;
  opacity: 1;
}

.identification {
  width: 154px;
  position: relative;
}

.identification:hover .popupIdentification {
  display: block;
}

.popupIdentification {
  /** Relative position */
  position: absolute;
  top: 0;
  left: 0;
  display: none;

  /* width: calc(154px * 1.5); */
  width: fit-content;
  background-color: #fff;
  opacity: 0.8;
}

.variation-debug {
  outline: solid 1px red;
}

.name {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;

  /** Disable nextline */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.email {
  font-size: 12px;
  line-height: 12px;

  /** Disable nextline */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
