.container {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;

  margin-left: 22px;
}

.organizations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}

.variation-in-form {
  margin-left: 0px;
  width: 454px;
}
