.userInfo {
  display: inline-flex;
  height: 46px;
  min-width: 622px;
  gap: 12px;

  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 12px 0;
  border-bottom: solid 1px #f5f5f5;
}
