.avatar {
  border-radius: 50%;
  background-color: #6941c6;
  color: #fff;
  text-align: center;
  font-family: sans-serif;
}

.variation-24 {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 10px;
}

.variation-28 {
  width: 28px;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
}

.variation-32 {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
}

.variation-44 {
  width: 44px;
  height: 44px;
  line-height: 44px;
  font-size: 18px;
}
