.badge {
  height: 21px;
  line-height: 17px;
  padding-left: 8px;
  padding-right: 8px;

  border-radius: 8px;

  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;

  display: inline-flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
}

.variation-role {
  background-color: #6941c6;
  color: #fff;
}

.variation-balance {
  background-color: #f5f5f5;
  color: #191919;
}
