.badge {
  height: 21px;
  line-height: 21px;
  padding-left: 8px;
  padding-right: 8px;

  border-radius: 8px;

  background-color: #6941c6;
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;

  display: inline-block;
}
